@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto:wght@100;300;400;500&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f5f6fa;
}

a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

main aside img {
    width: 100%;
    object-fit: cover;
}
main aside figure {
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 0.8rem;
}
main aside figure figcaption {
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    padding-bottom: 0.4rem;
}
main aside .see-all-media {
    text-align: center;
    margin-bottom: 0.7rem;
    font-weight: bold;
}

.para-aside {
    padding-top: 1rem;
}

main aside .related-content {
    border: 1px solid #95a5a6;
    border-radius: 7px;
    padding: 0.6rem;
    display: block;
    text-align: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.inventions {
    margin-bottom: 1.4rem;
}

header {
    width: 100%;
    height: 62px;
    background-color: #071c2e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar-header img {
    width: 200px;
}

header .subscribe-login button {
    background-color: #c0392b;
    color: #fff;
    font-size: 1rem;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

ul {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

li {
    list-style: none;
    padding: 0 1rem;
}

nav .breadcrumb li {
    font-size: 0.8rem;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    gap: 2rem;
}

.subscribe-login {
    display: flex;
    align-items: center;
    margin-right: 1.2rem;
    gap: 1rem;
}

main {
    background-color: #fff;
    border: 1px solid #95a5a6;
    padding: 1.2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 840px;
    display: flex;
    flex-wrap: wrap;
}


aside {
    border: 1px solid #dcdde1;
    width: 280px;
    flex-basis: 35%;
    order: 3;
    padding: 1rem;
}
.biography {
    flex-basis: 65%;
    order: 2;
    line-height: 1.8rem;
}
.tim-name {
    flex-basis: 100%;
    order: 1;
    margin-bottom: 2rem;
}

.tim-name h1, .tim-name h3, .tim-name section, .tim-name p {
    margin-bottom: 0.5rem;
}

.tim-name .icons button {
    background-color: #fff;
    border: 1px solid #95a5a6;
    border-radius: 5px;
    color: #1454c2;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    margin: 0.4rem 0;
}

.icons {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

nav {
    padding-left: 1rem;
}

nav .breadcrumb {
    font-size: 1rem;
    padding-left: 0;
    padding-top: 1.6rem;
    padding-bottom: 1rem;
    color: #1454c2;
}



.login-mobile {
    display: none;
}
.tim-name .icons .actions {
    display: none;
}
.table-contents {
    display: none;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    background-color: #fff;
    width: 100%;
    font-size: 1.2rem;
    color: #1454c2;
    padding: 0.8rem;
    margin-top: 1rem;
}
.category-head, .category {
    display: none;
    background-color: #ffb142;
    border-radius: 7px;
    padding: 3px;
    font-weight: 400;
}
.search, .browse {
    font-style: normal;
}



@media screen and (max-width: 981px) {
    header .navbar-header img {
        width: 140px;
    }

    .biography {
        padding-right: 1rem;
    }

    ul {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 846px) {
    main {
        max-width: 100%;
        margin: 0 auto;
    }

    .login-desktop {
        display: none;
    }

    .login-mobile {
        display: block;
    }

    .navbar-header ul li:nth-child(3), 
    .navbar-header ul li:nth-child(4),
    .navbar-header ul li:nth-child(5) {
        display: none;
    }

    main aside .see-all-media, main aside .related-content {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    main {
        max-width: 100%;
        margin: 0 auto;
    }

    main aside .see-all-media, main aside .related-content {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-color: #fff;
    }

    main {
        border: none;
    }
    aside {
        width: 100%;
        flex-basis: 100%;
        order: 2;
        padding: 1rem;
    }
    .biography {
        flex-basis: 100%;
        order: 3;
        line-height: 1.8rem;
    }
    .tim-name {
        flex-basis: 100%;
        order: 1;
        margin-bottom: 1.8rem;
    }

    .tim-name h1 {
        font-size: 2rem;
    }

    .tim-name .icons button:nth-child(1),
    .tim-name .icons button:nth-child(2),
    .tim-name .icons button:nth-child(3),
    .tim-name .icons button:nth-child(4),
    .tim-name .icons button:nth-child(5) {
        display: none;
    }

    .tim-name .icons .actions {
        display: block;
        display: flex;
        align-items: center;
    }

    .tim-name {
        position: relative;
    }

    .tim-name .icons {
        position: absolute;
        z-index: 1;
        top: 2rem;
        left: 22rem;
        margin: auto;
    }

    .navbar-header ul {
        font-size: 1.2rem;
    }

    .navbar-header ul .browse, .navbar-header ul .search {
        display: none;
    }

    .navbar-header {
        display: flex;
        flex-direction: row-reverse;
    }

    .navbar-header ul .search {
        margin-right: 20rem;
    }

    .table-contents {
        display: block;
    }

    main aside .related-content, main aside .see-all-media {
        font-size: 1.1rem;
    }

    .category-head, .category {
        display: inline-block;
    }

    .category-head {
        margin-bottom: 1rem;
    }

    .para-category {
        margin-top: 1.2rem;
    }

    aside {
        margin-bottom: 1rem;
    }
}



@media screen and (max-width: 475px) {
    .tim-name {
        position: relative;
    }

    .tim-name .icons {
        position: absolute;
        z-index: 1;
        top: 2rem;
        left: 18rem;
        margin: auto;
    }

    .navbar-header ul {
        font-size: 1rem;
    }

    .navbar-header {
       position: relative;
    }
    .navbar-header img {
        position: absolute;
        left: 5rem;
    }

    .navbar-header ul {
        position: absolute;
        z-index: 1;
        top: -0.6rem;
        left: -0.8rem;
    }

}



